* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 82%;
  margin: 0 auto;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
}
.courseSection {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  column-gap: 25px;
}
.leftSection {
  width: 70%;
}
.imageFlow {
  width: 330px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
}
.imageCart img {
  width: 100%;
  transition: linear 0.3s;
}
.listItem {
  display: flex;
  column-gap: 10px;
  list-style: none;
}
.listItem li {
  font-size: 12px;
  color: gray;
}
.header h1 {
  letter-spacing: 1px;
  margin: 25px 0;
  font-size: 35px;
}
.syllabusSection {
  box-shadow: 0px 0px 7px #d7cdcd;
  border-radius: 10px;
}
.headerSection {
  margin: 25px 0;
}
/*  */
.rightSection {
  padding: 15px 10px;
  box-shadow: 0px 0px 7px #d7cdcd;
  border-radius: 6px;
  height: 475px;
}
.valitidyPara {
  margin: 10px 0;
  color: rgb(48, 48, 48);
  font-size: 15px;
}
.btn {
  width: 100%;
  padding: 10px 0;
  margin: 18px 0;
  color: #d7cdcd;
  cursor: not-allowed;
}
.cartSection h3 {
  font-size: 16px;
  margin: 10px 0;
  color: rgb(48, 48, 48);
}

.cartSection p {
  margin: 10px 0;
  color: rgb(48, 48, 48);
  font-size: 15px;
}
.cartSection p span {
  padding-right: 6px;
}
.rightSection:hover img {
  transform: scale(1.1);
}
.valitidyPara span {
  padding-right: 10px;
}
.accordionParent {
  border-bottom: 0.5px solid gray;
  padding: 15px 0;
}
.accordionParent:hover {
  background-color: rgba(128, 128, 128, 0.074);
}
.accordionHeader div h3 span {
  padding-right: 15px;
}
.accordionHeader div p {
  padding-left: 34px;
  color: gray;
  margin-top: 5px;
}
.accordionHeader div h3 {
  font-size: 14px;
}
.accordionHeader {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  cursor: pointer;
}
.lesson {
  border-top: 0.6px solid gray;
  display: flex;
  list-style: none;
  justify-content: left;
  column-gap: 20px;
  padding: 10px 30px;
  margin-top: 15px;
}
.chapterName {
  font-size: 14px;
}
.commomnStyle {
  font-size: 13px;
  color: #403d3d;
}
.icon-style {
  font-size: 13px;
  padding-top: 5px;
}
.showAccordion {
  display: none;
}
#modal {
  height: 100vh;
  width: 100%;
  background-color: #403d3da5;
  display: none;
  position: fixed;
  top: 0;
}
#showModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 460px;
}
#videomodaal {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}
/* /// */
.signin-container {
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 10px;
}

.signin-container h2 {
  text-align: center;
}
.signin-container span {
  position: absolute;
  top: 0px;
  right: 5px;
  font-size: 40px;
  cursor: pointer;
  z-index: 999999;
  color: #007bff;
}
.signin-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
@media (min-width: 320px) and (max-width: 768px) {
  /*  */
  .courseSection {
    flex-wrap: wrap;
  }
  .header h1 {
    font-size: 28px;
    line-height: 1.5;
  }
  .leftSection {
    width: 100%;
  }

  .imageFlow {
    width: fit-content;
  }
  .accordionHeader div p {
    padding-left: 0;
  }
  .accordionHeader div h3 {
    font-size: 12px;
  }
}
